.mega-menu{
    transition: all linear .2s;
    z-index: 999999;
    left: 0;
    position: absolute;
   top: calc(100% + 8px);
    width: 100%;
    filter: drop-shadow(0 0 12.5px rgba(0,0,0,0.05));
    background-color: #ffffff;
    padding: 20px 10px 10px 10px;
    opacity: 0;
    visibility: hidden;
}
.mega-items-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mega-img-holder{
    display: block;
    width: 166px;
    height: 166px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 15px;

    img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 2px solid #f2f2f2;
        transition: all linear .2s;
    }
}
.mega-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-end: 15px;
    align-items: center;
    margin: 0 10px 30px 10px;
    &:hover{
        .mega-item-text{
            color: $second-color;
        }
        .mega-img-holder{
            img{
                border-color: $second-color;
            }
           
        }
    }
}
.mega-item-text{
         overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        max-width: 80%;
    font-size: 14px;
    color: $main-color;
    text-align: center;
    transition: all linear .2s;
    &:hover{
        color: $second-color;
    }
}


@include max-768 {
    .mega-menu{
        position: static;
        opacity: 1;
        visibility: visible;
        filter: none;
        background-color: transparent;
        padding: 0px 7px 0px 0px;
    }
    .mega-img-holder{
        display: none !important;
    }
    .mega-items-parent{
        display: none;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        // padding-top: 12px;
    }
    .mega-item{
       align-items: flex-start;
       margin: 0;
       margin-bottom: 12px;
       display: block;
    }
    .mega-item:first-of-type{
        margin-top: 10px;
    }
    .mega-item-text{
        text-align: start;
        &::before{
            content: "- ";
           }
    }
    .mega-item:hover .mega-item-text{
        color: $main-color;
    }
    
}