.banner-item{
    position: relative;
    display: block;
    overflow: hidden;
    &::after{
        position: absolute;
        content: "";
        inset: 0;
        background-color: rgba($color: $main-color, $alpha: 0.302);
        z-index: 1;
    }
    &::before{
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }
    &:hover{
        &::before{
            animation: shine .75s;
        }
    }
    img{
        width: 100%;
    }
}
.offer-desc{
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    span{
        font-size: 24px;
        color: #ffffff;
        font-weight: 300;
    }
    h2{
        font-size: 36px;
        color: #ffffff;
        font-weight: 700;
        margin: 10px 0 25px 0;
    }
    .shopNow{
        width: 148px;
        height: 40px;
        border-radius: 20px;
        background-color: $second-color;
        font-size: 14px;
        color: #ffffff;
        font-weight: 700;
    }
}


@keyframes shine {
	100% {
		left: 125%;
	}
}


@include max-768 {
    .banner-item{
        overflow: visible;
        img{
            min-height: 200px;
        }
        &::before{
            display: none;
        }
    }
    .offer-desc .shopNow{
        width: 120px;
        height: 34px;
    }
    .offer-desc h2{
        font-size: 18px;
        line-height: 1.7;
       margin:  10px 0 15px 0 ; 
    }
    .offer-desc span{
        font-size: 17px;
    }
}